.App {
  text-align: center;
}

#gameBoardScreen {
  background-color: rgb(0, 0, 0);
}

#gameBoardTargets {
  max-width: 1650px;
  margin-top: 7vh;
}

#gameBoardTargets:hover {
  cursor: crosshair;
}

#popupWindow {
  position: absolute;
  color: white;
  background-color: black;
  display: none;
}

.popupItem:hover {
  opacity: 0.5;
  cursor: grab;
}

#gameBoardTrackingDisplay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 7vh;
  position: fixed;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gameBoardTrackingCharacters {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameBoardTrackingCharactersSpecific {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  font-size: 20px;
}

.gameBoardTrackingCharactersPhoto {
  width: 30%;
  height: 7vh;
}

.gameBoardTrackingCharacterStatus {
  color: red;
}

#gameBoardTrackingTime {
  width: 30%;
}
