.App {
  text-align: center;
}

#gameBoardScreen {
  background-color: khaki;
}

#gameBoardTargets {
  max-width: 1300px;
  margin-top: 7vh;
}

#gameBoardTargets:hover {
  cursor: crosshair;
}

#popupWindow {
  position: absolute;
  color: white;
  background-color: black;
  display: none;
}

.popupItem:hover {
  opacity: 0.5;
  cursor: grab;
}

#gameBoardTimeTracking {
  width: 100%;
  background-color: rgb(1, 1, 105);
  height: 7vh;
  position: absolute;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
